body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../img/Copilot_20251116_001125.png');
  color: #fff;
  background-size: cover;
  background-position: center;
  font-size: large;

}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container .title{
  font-size: x-large;
  margin: 0 auto;
}

.register-form{
  margin: 0 auto;
  background-color: #C8A03B;
  padding: 25px;
  border-radius: 15px;
}

.register-form h2{
  margin: 0 0 20px 0;
}

.register-form fieldset{
 border: none;
}

.register-form input {
  font-size: medium;
  padding: 10px 20px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: none;
}

.register-form button {
  padding: 15px;
  background-color: #442e2e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}