body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('../img/Copilot_20251116_001125.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #fff;
}

.container fieldset {
  border: none;
}

.musica h2{
  margin: 0 0 20px 0;
}

.register-form{
  margin: 0 auto;
  background-color: #C8A03B;
  padding: 25px;
  border-radius: 15px;
}

.musica{
  display: flex;
  flex-direction: column;
}

.musica input {
  font-size: medium;
  padding: 10px 20px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: none;
}

.musica textarea {
  font-size: medium;
  padding: 20px 20px;
  margin: 5px 0px;
  border-radius: 8px;
  border: none;
}