body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/download.png);
  background-size: cover;
  background-position: center;
  color: #fff;
  font-size: x-large;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  margin: 0 auto;
  background-color: rgb(121, 74, 74);
  padding: 25px;
  border-radius: 15px;
  text-align: center;
}

.login-form a {
  text-decoration: none;
  color: #333;
}

.login-form a:hover {
  color: #000;

}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"] {
  font-size: medium;
  padding: 15px 35px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: none;

}

.login-form button {
  font-size: large;
  color: #fff;
  padding: 15px 15px;
  background-color: #442e2e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

fieldset {
  border: none;
}